.restaurant-form {
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    color: white;
  }
  
  .restaurant-form h3 {
    margin-bottom: 1.5rem;
  }
  
  .restaurant-form input {
    width: calc(100% - 20px);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .restaurant-form button {
    background-color: #af7d33;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .restaurant-form button:hover {
    background-color: #21a1f1;
  }
  