.francesinhas-container {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .francesinhas-container h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #ffffff;
  }
  
  .francesinhas-container .form-container,
  .francesinhas-container .list-container {
    margin-bottom: 2rem;
  }
  
  .francesinhas-container .form-container {
    background: #24212e;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .francesinhas-container .list-container {
    background: #24212e;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #af7d33;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c48c38;
  }
  