.home-container {
    text-align: center;
    padding: 2rem;
  }
  
  .home-container h1 {
    margin-bottom: 2rem;
  }
  
  .home-nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .home-nav-item {
    margin: 0 1rem;
  }
  
  .nav-button {
    background-color: #af7d33;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .nav-button:hover {
    background-color: #c48c38;
    color: white;
  }
  